html {
  color: $c-text;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;

  &::before,
  &::after {
    box-sizing: inherit;
  }
}

body {
  margin: 0;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  align-self: center;
  max-width: 100%;
}

a {
  color: $c-link;
  text-decoration: none;
}

strong {
  font-weight: 400;
}

hr {
  border: 0;
  border-bottom: $b-default;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}
