$c-white: #fff;
$c-bg: #efefef;
$c-bg2: #f4f4f4;

$c-text: #5c5c5c;
$c-text-mid: #9a9a9a;
$c-text-light: #ababab;
$c-link: #4da0eb;

$c-border: #d4d4d4;

$c-success: #54df17;
$c-info: #418be5;
$c-warning: #ffa300;
$c-empty: #efefef;

$m-gutter: 1rem;
$m-mobilewidth: 480px;

$b-width: 2px;
$b-width-thick: 6px;
$b-radius: 12px;
$b-default: $b-width solid $c-border;
$b-dark: $b-width solid $c-text;
$b-success: $b-width solid $c-success;
$b-info: $b-width solid $c-info;
$b-warning: $b-width solid $c-warning;
$b-empty: $b-width-thick solid $c-empty;

@import 'reset';
@import 'layout';
@import 'typography';


@import 'components/nav-bar';
@import 'components/collection';
@import 'components/input';
@import 'components/panel';
@import 'components/ticket/ticket-item';
