.collection-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  &__heading {
    border-bottom: $b-default;
  }

  &__content {
    flex-grow: 1;
    background: $c-bg;

    overflow-y: auto;
  }
}

.collection-list {
  margin: 0;

  &__item {
    margin: 0;
    padding: $m-gutter;
  }
}
