.work-order {
  display: flex;
  flex-direction: column;

  &__heading {
    padding: $m-gutter;

    border-bottom: $b-default;

    &--warning {
      border-bottom: $b-warning;
    }

    &--success {
      border-bottom: $b-success;
    }

    &--danger {
      border-bottom: $b-danger;
    }

    &--info {
      border-bottom: $b-info;
    }
  }

  &__content {
    flex-basis: 0;
    flex-grow: 1;

    overflow-y: auto;

    @media screen and (max-width: #{$m-mobilewidth}) {
      flex-basis: auto;
    }
  }

  &__section {
    padding: $m-gutter;

    & + & {
      border-top: $b-default;
    }
  }

  &__footer {
    padding: $m-gutter;

    border-top: $b-default;
  }
}
