<div class="app__sub-nav">
  <h3 class="no-margin">Open Tickets</h3>
</div>

<div class="app__content">
  <div class="master-detail">
    <div class="master-detail__master">
      <div class="collection-container">
        <div class="collection-container__heading">
          <label class="input input--with-icon" for="ticket-search">
            <span class="fa fa-search fa-fw"></span>
            {{input id="ticket-search" class="input__field" placeholder="Search Tasks"}}
          </label>

        </div>
        <div class="collection-container__content">
          <ul class="collection-list">
            {{#each model as |ticket|}}
              <li class="collection-list__item">
                {{ticket-item ticket=ticket}}
              </li>
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
    <div class="master-detail__detail">{{outlet}}</div>
  </div>
</div>
