<div class="master-detail__panel-fill work-order">
  <div class="work-order__heading">
    <div class="level">
      <div class="level__group level__group--left"></div>
      <div class="level__group level__group--center">
        <h4 class="panel-title no-margin">Work Order</h4>
        <h5 class="panel-subtitle no-margin status--{{model.status}}">{{model.status}}</h5>
      </div>
      <div class="level__group level__group--right">
        <ul class="notification-list">
          <li class="notification-list--item">
            <span class="fa fa-fw fa-file-o"></span>
          </li>
          <li class="notification-list--item">
            <span class="fa fa-fw fa-trash-o"></span>
          </li>
          <li class="notification-list--item">
            <span class="fa fa-fw fa-upload"></span>
          </li>
          <li class="notification-list--item">
            <span class="fa fa-fw fa-paperclip"></span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
